  
  <nav id="footer">
      <div class="container">
          <div class="pull-left fnav">
            <ul class="footer-social">
            <li class="navbar-brand" href="mailto:{{ site.email }}"> {{ site.email }}</li>
            </ul>
          </div>
          <div class="pull-right fnav">
              <ul class="footer-social">
                  {% if site.github_username %}
              <li href="https://github.com/{{ site.github_username }}">
                <i class="fa fa-github"></i>
              </li>
            {% endif %}
            </ul>
          </div>
      </div>
  </nav>
  
